<nav class="head">
  <img src="assets/img/logo.svg" alt="logo-icon" />
  <img src="assets/img/logoText.svg" alt="illustration" />
</nav>
<main class="box">
  <div class="left-box">
    <img src="assets/img/bk-img.svg" alt=""/>
  </div>
  <div class="right-box">
    <form action="">
      <h1>Welcome!</h1>
      <p>Enter details to login.</p>
      <div class="form-case">
        <input type="email" name="" id="" placeholder="Email Address" required />
        <input type="password" name="" id="" placeholder="Password" required/>
        <a href="">forget password?</a>
        <button routerLink="/dashboard">Log in</button>
      </div>
    </form>
  </div>
</main>
